    body 
    {
        border-style: solid;
        border-width: 5px;
        padding:15px;
        border-radius: 35px;
        
        width: 950px ;
        margin-left: auto ;
        margin-right: auto ;
        
        font-size:15px;
		font-family:courier;
    }
    
   

    #_top
    {
        
		border-bottom-style: solid;
		border-bottom-color: black;
    }
    
    
    
    #_body
    {
       
		border-left-style: solid;
		border-left-color: black;

		
		width: 700px;
        margin: -5px auto;
        padding: 15px;
		
		
    }
    
  
    #_headers
    {
        position: relative;
        top: 30px;
        left: px;
        width: 200px;


    }
    
    
    #pro_pic
    {
    
      background-size: 50px 50px;
      float: right;
      margin: 0 0 1em 1em;
    
    }
    
    .resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}

    
    
    
